body{
    margin: 0;
    padding: 0;
    background: #292f36;
}
#canvas1{
    border: 3px solid rgb(115, 239, 243);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 800px;
    width: 400px;
    background: white;
}